body {
text-align: center;
font-family: Helvetica;
}
  h1 {
  font-weight: Bold;
  font-size: 70px;
  color: white;
}

p {
  font-size: 14px;
}
.navigation {
  font-size: 18px;
  color: white;
}

.header-background {
  background-image: url("resources/images/the-flatiron-building.png");
}

h3 {
  font-size: 23;
  font-weight: Bold;
}

.h3-over-image {
  color: white;
  background-image: url("resources/images/the-flatiron-building.png");
}
